section(data-background-image="./img/premio-abradi-sp.jpg" data-background-size="contain")
	p
		a(href="https://goo.gl/7klWob" target="_blank" style="background-color: #FFF; padding: 10px; border: 5px solid orange !important;") https://goo.gl/7klWob
	p
		a(href="https://goo.gl/7klWob" target="_blank")
			img(src="https://chart.googleapis.com/chart?cht=qr&chs=500x500&choe=UTF-8&chld=H&chl=https://goo.gl/7klWob" style="background-color: #FFF; padding: 10px; border: 5px solid orange !important;")