section(data-background-image="./img/menus-icones-basicos.png", data-background-size="contain", data-background-color="#1976d2")
	h3 "Ícones são uma representação gráfica"
	p Logo... <span class="fragment"> ícones podem ser imagens</span>