section(data-background-image="./img/interface-animada.gif" data-background-size="contain" data-background-position="center top")
	h2(style="text-shadow: 0 0 10px #333; color: white;") <!--Agora já temos a interface "pronta"-->