section
	style
		| .fa { transition: .5s ease-in-out; cursor: pointer; }
		| .fa:hover { color: orange; }
		| i.fa { font-size: 8rem; color: black; margin: 0 12px;}

	pre
		code
			| .icone-simbolico { color: black; }
			| .icone-simbolico:hover { color: orange; }

	br

	<i class="fa fa-facebook" aria-hidden="true"></i>
	<i class="fa fa-twitter" aria-hidden="true"></i>
	<i class="fa fa-google" aria-hidden="true"></i>	