section
	h3 Cada "svg" interno de abertura e fechamento, agora é um "symbol"
	pre
		code
			|<svg id="ex-megazord-svg">
			|   <symbol id="icon_add"> <!--1°-->
			|      <path class="tracado--01" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
			|      <path class="tracado--02" d="M0 0h24v24H0z" fill="none"/>
			|   </symbol>
			|   <symbol id="icon_post"> <!--2°-->
			|      <path class="tracado--01" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
			|      <path class="tracado--02" d="M0 0h24v24H0z" fill="none"/>
			|   </symbol>
			|</svg>