section(data-background-image="./img/globo-reporter.jpg")
	h2(style="color: #FFF; text-shadow: 0 0 10px #000;") SVG <span style="color: red;">❤</span>
	p.fragment(style="color: #FFF; text-shadow: 0 0 10px #000;") O que é? Onde vive? Qual a compatibilidade? Hoje no Meetup de CSS

