section(data-background-image="./img/manage-icons.jpg" data-background-color="#212121" data-background-size="contain" data-background-position="center top")
	pre
		code
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_notification"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_fullscreen"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_post"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_page"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_menu"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_sun"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>

	pre
		code
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_notification"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_fullscreen"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_post"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_page"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_menu"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>
			| <li>
			| 	<a class="center-x-y" href="#">
			| 	<span class="iconsvg icon icon icon-big">
			| 		<svg id="icon_sun"><path d="d=" M131.39 525.19c-14.518 13.474-54.466 6.047-45.644-25.746 8.822-31.793 47.57-14.89 51.867 3.143-2"/></svg>
			| 	</span>
			| 	</a>
			| </li>