section
	h3 Font-icons
	pre
		code
			|.icone-facebook:before {
			|   font: normal normal normal 14px/1 FontAwesome;
			|   content: "\f09a"; // WHAAT?
			|}
	pre
		code
			| <i class="font-icon icone-facebook" aria-hidden="true"></i>

	p <i class="fa fa-facebook" aria-hidden="true"></i>
