section(data-background-image="./img/mario-image.jpg" data-background-color="#000" data-background-size="contain" data-background-position="bottom center")
	h2(style="color: #FFF;") Já salvei a princesa