section
	h3 SVG Megazord
	pre
		code
			|<svg id="megazord_svg">
			|    <path id="icon_add" class="tracado--01" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
			|    <path id="icon_add" class="tracado--02" d="M0 0h24v24H0z" fill="none"/>
			| 
			|    <path id="icon_post" class="tracado--01" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
			|    <path id="icon_post" class="tracado--02" d="M0 0h24v24H0z" fill="none"/>
			|</svg>