section
	img(src="./img/experiment/icon_config.png", alt="", style="border: 0; box-shadow: none; max-width: 70%; max-height: 70%; margin: 3%;")
	img(src="./img/experiment/icon_dashboard.png", alt="", style="border: 0; box-shadow: none; max-width: 70%; max-height: 70%; margin: 3%;")
	br
	pre
		code
			|	<img src="./img/experiment/icon_config.png" />
			|	<img src="./img/experiment/icon_dashboard.png" />
			|	<img src="./img/experiment/icon_config_azul.png" />
			|	<img src="./img/experiment/icon_dashboard_azul.png" />
	br
	div.fragment
		p ???????
		img(src="./img/experiment/icon_config_azul.png", alt="", style="border: 0; box-shadow: none; max-width: 70%; max-height: 70%; margin: 3%;")
		img(src="./img/experiment/icon_dashboard_azul.png", alt="", style="border: 0; box-shadow: none; max-width: 70%; max-height: 70%; margin: 3%;")
		//- img(src="./img/experiment/icon_config.png", alt="", style="border: 0; box-shadow: none; max-width: 20%; max-height: 20%; width: 120%; width: 120%; background: none; margin: 3%;")
		//- img(src="./img/experiment/icon_dashboard.png", alt="", style="border: 0; box-shadow: none; max-width: 20%; max-height: 20%; width: 120%; width: 120%; background: none; margin: 3%;")