section
	h3 SVG Puro
	pre
		code
			|<svg id="icon_add">
			|    <path class="tracado--01" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
			|    <path class="tracado--02" d="M0 0h24v24H0z" fill="none"/>
			|</svg>