head
	meta(charset="UTF-8")
	title Meetup CSS
	meta(name="description" content="Create your presentations never been so easy with code.")
	meta(name="author" content="You")
	meta(property="og:type" content="website")
	meta(property="og:image" content="img/qualy-presenter.png")
	meta(property="og:description" content="Create your presentations never been so easy with code.")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", type="text/css", href="css/main.css")
	link(rel="apple-touch-icon", sizes="180x180", href="https://mariosouto.com/assets/favicons/apple-touch-icon.png")
	link(rel="icon", type="image/png", href="https://mariosouto.com/assets/favicons/favicon-32x32.png", sizes="32x32")
	link(rel="icon", type="image/png", href="https://mariosouto.com/assets/favicons/favicon-16x16.png", sizes="16x16")
	link(rel="manifest", href="https://mariosouto.com/assets/favicons/manifest.json")
	link(rel="mask-icon", href="https://mariosouto.com/assets/favicons/safari-pinned-tab.svg", color="#ff6a00")
	meta(name="msapplication-TileColor", content="#ff6a00")
	meta(name="msapplication-TileImage", content="https://mariosouto.com/assets/favicons/mstile-144x144.png")
	meta(name="theme-color", content="#ff6a00")
	link(href="/favicon.ico", rel="icon")
